/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 31, 2021, 11:11:49 AM
    Author     : ghadi
*/
.pane{
    -fx-background-image: url(../images/background11.jpg);
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-font-size: large; 
    -fx-padding: 10px;
}
.vbox{
    -fx-background-color:rgba(0,0,0,0.7);
}
.button{
    -fx-background-color: #ff8533;
    -fx-font-family: Trebuchet MS;
    -fx-font-size: 14pt;
    -fx-font-style: italic;
    -fx-font-weight: bold;
    -fx-background-radius:20px;
    -fx-border-width:2px;
    -fx-border-color:black;
    -fx-border-radius:20px;
}
.text-field , text-field {
    -fx-background-color:rgba(0,0,0,0.7);
    -fx-font-family:Calibri Light;
    -fx-font-style: italic;
    -fx-font-size:16px;
    -fx-text-fill:white;
    -fx-prompt-text-fill:#bf6b1c;
    -fx-padding:4px; 
    -fx-border-color: beige;
    -fx-border-width: 1px;

}

/*

.text-field .text {
    -fx-effect: dropshadow( two-pass-box , blue , .5, 10 , 1 , 1);    
}

.text-field:empty .text {
    -fx-effect: null ;
}

they say that empty means when the text field is empty so you can apply effects 
*/